@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1 class="display-4">BIENVENIDOS</h1>
    <p class="lead">Mi primera app, Neptuno sas</p>
    <hr class="my-4">
    <p>Modulo de gestion de estudiantes</p>
</div>

